<!DOCTYPE html>
<html>
<head>
  <title>Admin Hub</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <h1>Admin Hub</h1>
    
    <h2>Product Management</h2>
    <div class="btn-group">
      <a href="/admin/add-product" class="btn btn-primary">Add Product</a>
      <a href="/admin/update-product" class="btn btn-primary">Update / remove Product</a>
    </div>

    <h2>Order Management</h2>
    <div class="btn-group">
      <a href="/admin/update-order" class="btn btn-primary">Update Order</a>
      <a href="/admin/list-user-orders" class="btn btn-primary">List User Orders</a>
    </div>
  </div>

  <!-- jQuery Version 1.11.1 -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

</body>
</html>