<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>מסמך</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet" />

    <!-- Include Bootstrap CSS -->
  </head>

  <body>
    <div class="container">
      <h1 class="display-1 text-center">מעריץ קוקטיילים חדש!</h1>
      <form action="/users/r" method="POST">
        <div class="form-group text-right">
          <label for="fname">שם פרטי</label>
          <input
            type="text"
            name="fname"
            class="form-control"
            id="fname"
            placeholder="הכנס שם פרטי"
            required
          />
        </div>
        <div class="form-group text-right">
          <label for="lname">שם משפחה</label>
          <input
            type="text"
            name="lname"
            class="form-control"
            id="lname"
            placeholder="הכנס שם משפחה"
            required
          />
        </div>
        <div class="form-group text-right">
          <label for="city">עיר</label>
          <select name="city" id="city" class="form-control" required></select>
        </div>
        <div class="form-group text-right">
          <label for="address">כתובת</label>
          <input
            type="text"
            name="address"
            class="form-control"
            id="address"
            placeholder="הכנס כתובת"
            required
          />
        </div>
        <div class="form-group text-right">
          <label for="postal">מיקוד</label>
          <input
            type="text"
            name="postal"
            class="form-control"
            id="postal"
            placeholder="הכנס מיקוד"
            required
          />
        </div>
        <div class="form-group text-right">
          <label for="email">אימייל</label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            placeholder="הכנס אימייל"
            required
          />
        </div>
        <div class="form-group text-right">
          <label for="birthday">תאריך לידה</label>
          <input
            type="date"
            name="birthday"
            class="form-control"
            id="birthday"
            value="2018-07-22"
            min="2018-01-01"
            max="2018-12-31"
            required
          />
        </div>
        <div class="form-group text-right">
          <label for="phone">טלפון</label>
          <input
            type="text"
            name="phone"
            class="form-control"
            id="phone"
            placeholder="הכנס טלפון"
            required
          />
        </div>

        <div class="form-group text-right">
          <label for="password">סיסמה</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="הכנס סיסמה"
            required
          />
        </div>
        
        <div class="text-center">
          <button class="btn btn-primary">שלח</button>
        </div>
      </form>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/townapi.js"></script>
    <script src="../js/regex.js"></script>
  </body>
</html>
