<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>add a user</h1>
    <form action="/users/r" method="POST">
        <input type="text" name="fname" placeholder="first name">

        <input type="text" name="lname" placeholder="last price">
        
        <!-- from api -->
        <select name="city" id="city">
        </select>
        
        <input type="text" name="address" placeholder="address">
        
        <input type="text" name="birthday" placeholder="birthday">
        
        <input type="text" name="price" placeholder="product price">
        
        <input type="date" id="birthday" name="birthday"
        min="2018-01-01" max="2018-12-31">
 
        <input type="text" id="postal" name="postal">
        
        <input type="text" id="email" name="email">
 
        <input type="date" id="birthday" name="birthday"
        value="2018-07-22"
        min="2018-01-01" max="2018-12-31">
 
        
        <input type="text" id="phone" name="phone">

        <button>submit</button>
    </form>

</body>

</html>